<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Kovacic 2018 : 
    <a href="https://www.heroku.com" target="_blank"> heroku.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->