<div class="jumbotron text-center">
  <div class="container">
	<h1><i class="fas fa-search"></i> Compendium Index Utility</h1>
	<p>Resources for various spells, items, equipment, abilities, and monsters.</p>
  </div>
</div>
<div class="jumbotron text-center" style="background-color: #f8f9fa;">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<a href="https://www.dndbeyond.com/monsters" target="_blank" class="btn btn-outline-dark">Creature Index</a>
			</div>
			<div class="col-sm">
				<a href="https://www.dndbeyond.com/equipment" target="_blank" class="btn btn-outline-dark">Equipment Index</a>
			</div>
			<div class="col-sm">
				<a href="https://www.dndbeyond.com/tag/d-d-lore" target="_blank" class="btn btn-outline-dark">Lore Index</a>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm">
				<a href="https://www.dndbeyond.com/spells" target="_blank" class="btn btn-outline-dark">Spellbook Index</a>
			</div>
			<div class="col-sm">
				<a href="https://www.dndbeyond.com/magic-items" target="_blank" class="btn btn-outline-dark">Magic Item Index</a>
			</div>
			<div class="col-sm">
				<a href="https://www.dndbeyond.com/compendium/rules/basic-rules" target="_blank" class="btn btn-outline-dark">Rule Index</a>
			</div>
		</div>
	</div>
</div>